@import "./classes";
@import "./variables";
//! ------------------- Start Footer Style -------------------
footer
{
    border-top: 1px solid $secBg;
    color: white;
    .footer-content
    {
        span
        {
            margin-bottom: 7px;
            a
            {
                text-decoration: none;
                color: $mainColor;
                &:hover
                {
                    color: $mainColor;
                }
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .footer-content
    {
        flex-direction: column;
    }
}
//! ------------------- End Footer Style -------------------