@import "./classes";
@import "./variables";
//! ------------------- Start Header Style -------------------
#home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .home-content {
    color: white;
    h4 {
      font-weight: 600;
    }
    h1 {
      font: {
        weight: 300;
        size: 70px;
      }

      span {
        -webkit-text-stroke-color: $mainColor;
        -webkit-text-stroke-width: 1px;
        font-weight: 700;
        letter-spacing: 1px;
        color: transparent;
        transition: 0.2s;
        &:hover {
          color: $mainColor;
        }
        &::selection {
          background-color: transparent;
        }
      }
      &::selection {
        background-color: transparent;
      }
    }
    & > span {
      font-size: 24px;
    }
  }
  .home-layout {
    position: absolute;
    right: 80px;
    top: calc(50% + -80px);

    color: #333;
    opacity: 0.25;
    user-select: none;
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.72;
    // display: none;
  }
  .home-link {
    color: $mainColor;
    border: 2px solid $mainColor;
    border-radius: 16px;
    height: 40px;
    width: 24px;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 49%;
    transition: 0.2s;
    overflow: hidden;
    i {
      animation: anchorLink 1.5s infinite;
      position: relative;
      top: 10%;
      right: calc(50% + -20px);
    }
    &:hover {
      opacity: 1;
    }
  }
}
@keyframes anchorLink {
  0% {
    opacity: 1;
    top: 0%;
  }
  100% {
    opacity: 0;
    top: 105%;
  }
}

//! ------------------- End Header Style -------------------

//? ------------------- Start Header Responsive -------------------
@media screen and (max-width: 767px) {
  #home {
    h1 {
      font-size: 59px !important;
    }
  }
}
@media screen and (max-width: 575px) {
  #home {
    h1 {
      font-size: 45px !important;
    }
    .home-content > span {
      font-size: 20px !important;
    }
  }
}
@media screen and (max-width: 400px) {
  #home {
    h1 {
      font-size: 40px !important;
    }
  }
}
@media screen and (max-width: 1759px) {
  .home-layout {
    top: 60%;
  }
}
@media screen and (max-width: 1199px) {
  .home-layout {
    top: 68%;
    right: 150px !important;
  }
}
@media screen and (max-width: 1099px) {
  .home-layout {
    top: 68%;
    right: 75px !important;
  }
}
@media screen and (max-width: 991px) {
  .home-layout {
    display: none;
  }
}
//? ------------------- End Header Responsive -------------------
